In [74]:
import numpy as np
import pandas as pd
import os, glob

In [28]:
path = '/Users/laolu/Documents/cQuant_Interview_Exercise/cQuant_Interview_Exercise/historicalPriceData'
hist_data = glob.glob(os.path.join(path,"ERCOT_*.csv"))

In [29]:
merged_hist_data = (pd.read_csv(f, sep=',') for f in hist_data)
merged_hist_data= pd.concat(merged_hist_data, ignore_index=True)

In [30]:
merged_hist_data.head()

                  Date SettlementPoint  Price
0  2018-01-01 00:00:00       HB_BUSAVG  27.18
1  2018-01-01 00:00:00      HB_HOUSTON  26.85
2  2018-01-01 00:00:00       HB_HUBAVG  27.18
3  2018-01-01 00:00:00        HB_NORTH  27.23
4  2018-01-01 00:00:00        HB_SOUTH  27.14

In [31]:
merged_hist_data.count()

Date               497320
SettlementPoint    497320
Price              497320
dtype: int64

In [32]:
merged_hist_data.isnull().sum()

Date               0
SettlementPoint    0
Price              0
dtype: int64

In [33]:
merged_hist_data['SettlementPoint'].nunique()

15

In [34]:
merged_hist_data['SettlementPoint'].unique()

array(['HB_BUSAVG', 'HB_HOUSTON', 'HB_HUBAVG', 'HB_NORTH', 'HB_SOUTH',
       'HB_WEST', 'LZ_AEN', 'LZ_CPS', 'LZ_HOUSTON', 'LZ_LCRA', 'LZ_NORTH',
       'LZ_RAYBN', 'LZ_SOUTH', 'LZ_WEST', 'HB_PAN'], dtype=object)

In [35]:
merged_hist_data.describe()

               Price
count  497320.000000
mean       30.330662
std        93.271088
min       -29.980000
25%        18.040000
50%        22.050000
75%        29.060000
max      5015.250000

In [36]:
merged_hist_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497320 entries, 0 to 497319
Data columns (total 3 columns):
Date               497320 non-null object
SettlementPoint    497320 non-null object
Price              497320 non-null float64
dtypes: float64(1), object(2)
memory usage: 11.4+ MB

In [37]:
#Changed Date To DateTime So i can work with years and Months
merged_hist_data['Date']= pd.to_datetime(merged_hist_data['Date'])

In [38]:
merged_hist_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497320 entries, 0 to 497319
Data columns (total 3 columns):
Date               497320 non-null datetime64[ns]
SettlementPoint    497320 non-null object
Price              497320 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 11.4+ MB

In [39]:
merged_hist_data['Month Year'] = merged_hist_data['Date'].apply(lambda x: x.strftime('%B-%Y'))

In [40]:
merged_hist_data.head()

        Date SettlementPoint  Price    Month Year
0 2018-01-01       HB_BUSAVG  27.18  January-2018
1 2018-01-01      HB_HOUSTON  26.85  January-2018
2 2018-01-01       HB_HUBAVG  27.18  January-2018
3 2018-01-01        HB_NORTH  27.23  January-2018
4 2018-01-01        HB_SOUTH  27.14  January-2018

In [42]:
settl_point = merged_hist_data['SettlementPoint'].unique()

In [43]:
merged_hist_data['Month Year'].nunique()

48

In [46]:
merged_hist_data['Month Year'].unique()

array(['January-2018', 'February-2018', 'March-2018', 'April-2018',
       'May-2018', 'June-2018', 'July-2018', 'August-2018',
       'September-2018', 'October-2018', 'November-2018', 'December-2018',
       'January-2019', 'February-2019', 'March-2019', 'April-2019',
       'May-2019', 'June-2019', 'July-2019', 'August-2019',
       'September-2019', 'October-2019', 'November-2019', 'December-2019',
       'January-2017', 'February-2017', 'March-2017', 'April-2017',
       'May-2017', 'June-2017', 'July-2017', 'August-2017',
       'September-2017', 'October-2017', 'November-2017', 'December-2017',
       'January-2016', 'February-2016', 'March-2016', 'April-2016',
       'May-2016', 'June-2016', 'July-2016', 'August-2016',
       'September-2016', 'October-2016', 'November-2016', 'December-2016'],
      dtype=object)

In [45]:
month_year = merged_hist_data['Month Year'].unique()

In [50]:
settl_point = ["HB_BUSAVG"]
month_year = ['January-2018']

In [59]:
avg_price = [ ]
for i in merged_hist_data:
    if i == settl_point and merged_hist_data["Year"] == 2018:
        avg_price = merged_hist_data['Price'].mean()

In [60]:
avg_price

[]

In [53]:
def avg_price(settl_poin)

SyntaxError: invalid syntax (<ipython-input-53-e8ed6ec9b0ab>, line 1)

In [66]:
merged_hist_data_hub = merged_hist_data[merged_hist_data['SettlementPoint'].str.match('HB')]

In [67]:
merged_hist_data_hub['SettlementPoint'].unique()

array(['HB_BUSAVG', 'HB_HOUSTON', 'HB_HUBAVG', 'HB_NORTH', 'HB_SOUTH',
       'HB_WEST', 'HB_PAN'], dtype=object)

In [68]:
merged_hist_data_hub.head()

        Date SettlementPoint  Price    Month Year
0 2018-01-01       HB_BUSAVG  27.18  January-2018
1 2018-01-01      HB_HOUSTON  26.85  January-2018
2 2018-01-01       HB_HUBAVG  27.18  January-2018
3 2018-01-01        HB_NORTH  27.23  January-2018
4 2018-01-01        HB_SOUTH  27.14  January-2018

In [69]:
merged_hist_data_hub['Price'].describe()

count    216840.000000
mean         29.688398
std          95.527962
min         -29.980000
25%          17.710000
50%          21.600000
75%          28.230000
max        5011.160000
Name: Price, dtype: float64

In [72]:
col = ['Price']
merged_hist_data_hub[col] = merged_hist_data_hub[merged_hist_data_hub[col] > 0][col]

/Users/laolu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [73]:
merged_hist_data_hub['Price'].describe()

count    215816.000000
mean         29.871136
std          95.715921
min           0.010000
25%          17.770000
50%          21.640000
75%          28.290000
max        5011.160000
Name: Price, dtype: float64